* {
  margin: 0;
  padding: 0;
}

.App {
  width: 1440px;
  background-color: #fff;
  margin: 40px auto;
}

.error {
  color: red;
  margin-top: 20px;
}

.input-form {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-form input {
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  font-size: 22px;
  margin: 15px;
}

.input-form textarea {
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin: 15px;
}

.input-form button {
  width: 160px;
  height: 50px;
  margin: 15px;
  color: white;
  font-size: 16px;
  background-color: #3333b7;
  border-radius: 12px;
}

.input-form button:hover {
  opacity: 0.8;
}

.todo-card {
  margin: 20px 0;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px black;
  border-radius: 20px;
}

.done-theme {
  background-color: #0f6b0f;
  text-decoration: line-through;
  color: white;
}

.todo-card button {
  border: none;
  background-color: rgba(255, 0, 0, 0);
}

.todo__descr {
  max-width: 1105px;
  padding: 30px;
}

img {
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}